.container{

    border-style: solid;
    height: 275px;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 5px;
}
#uvIndex {
    background-color: red;
    color: white;
    padding: 5px;
    
    border-radius: 4px;
}
#greyBox {
    padding-left: 30px;
    padding-top: 10px ;
}
.info {
    color: gray;
   
}
.cards{
    background-color: rgb(45, 106, 240);
    height: 210px;
    width: 150px;
    margin: 16px;
   float: left;
   border-radius: 5px;
   color: whitesmoke;
   padding: 5px;
    
}
#cityBox {
    background-color: white;
    height: 60px;
    width: 320px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgrey;
    font-weight: 250;
}